In [ ]:
#1
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')

#display the structure of dataset
toyota_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

In [ ]:
#2
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
toyota_df.info()
print( toyota_df.shape)
print(toyota_df.info())
print(toyota_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
(1436, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
None
        Unnamed: 0         Price          Age     MetColor    Automatic  \
count  1436.000000   1436.000000  1336.000000  1286.000000  1436.000000
mean    717.500000  10730.824513    55.672156     0.674961     0.055710
std     414.681806   3626.964585    18.589804     0.468572     0.229441
min       0.000000   4350.000000     1.000000     0.000000     0.000000
25%     358.750000   8450.000000    43.000000     0.000000     0.000000
50%     717.500000   9900.000000    60.000000     1.000000     0.000000
75%    1076.250000  11950.000000    70.000000     1.000000     0.000000
max    1435.000000  32500.000000    80.000000     1.000000     1.000000

                CC      Weight
count  1436.000000  1436.00000
mean   1566.827994  1072.45961
std     187.182436    52.64112
min    1300.000000  1000.00000
25%    1400.000000  1040.00000
50%    1600.000000  1070.00000
75%    1600.000000  1085.00000
max    2000.000000  1615.00000

In [ ]:
#3
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
toyota_df.info()
print(toyota_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight'],
      dtype='object')

In [ ]:
#4
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
toyota_df.info()
fuel_type_forth = toyota_df.loc[3 , 'FuelType']
print(fuel_type_forth)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
Diesel

In [ ]:
#5
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
toyota_df.info()
second_column_forth = toyota_df.iloc[3 , 1]
print(second_column_forth)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
14950

In [ ]:
#6
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
toyota_df.info()
fuel_type_all = toyota_df['FuelType']
print(fuel_type_all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434       NaN
1435    Petrol
Name: FuelType, Length: 1436, dtype: object

In [ ]:
#7
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')

km_hp_auto = toyota_df[['KM', 'HP' , 'Automatic']]
print(km_hp_auto)

         KM   HP  Automatic
0     46986   90          0
1     72937   90          0
2     41711   90          0
3     48000   90          0
4     38500   90          0
...     ...  ...        ...
1431  20544   86          0
1432     ??   86          0
1433  17016   86          0
1434     ??   86          0
1435      1  110          0

[1436 rows x 3 columns]

In [ ]:
#8
import pandas as pd
toyota_df = pd.read_csv('Toyota.csv')
subset_df = toyota_df.iloc[0:5 , 1:4]
print(subset_df)

   Price   Age     KM
0  13500  23.0  46986
1  13750  23.0  72937
2  13950  24.0  41711
3  14950  26.0  48000
4  13750  30.0  38500

In [ ]:
#9
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
print(toyota_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
None

In [ ]:
#10
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
new_df = toyota_df.replace(to_replace = '??', value = 'NaN')
print(new_df)

      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90       1.0          0  2000
1              1  13750  23.0  72937   Diesel   90       1.0          0  2000
2              2  13950  24.0  41711   Diesel   90       NaN          0  2000
3              3  14950  26.0  48000   Diesel   90       0.0          0  2000
4              4  13750  30.0  38500   Diesel   90       0.0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0    NaN   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0    NaN      NaN   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
2         3    1165
3         3    1165
4         3    1170
...     ...     ...
1431      3    1025
1432      3    1015
1433      3    1015
1434      3    1015
1435      5    1114

[1436 rows x 11 columns]

In [ ]:
#11
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
toyota_df['Doors'] = toyota_df['Doors'].replace({'two':2 , 'three':3 , 'four':4 , 'five':5})
print(toyota_df['Doors'])
print(toyota_df.info())

0       3
1       3
2       3
3       3
4       3
       ..
1431    3
1432    3
1433    3
1434    3
1435    5
Name: Doors, Length: 1436, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
None

In [ ]:
#12
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
unique_km = toyota_df['KM'].unique()
unique_hp = toyota_df['HP'].unique()
unique_doors = toyota_df['Doors'].unique()

print(f'unique KM values: {unique_km}')
print(f'unique HP values: {unique_hp}')
print(f'unique Doors values: {unique_doors}')

unique KM values: ['46986' '72937' '41711' ... '30964' '20544' '17016']
unique HP values: ['90' '????' '192' '110' '97' '71' '116' '98' '69' '86' '72' '107' '73']
unique Doors values: ['three' '3' '5' '4' 'four' 'five' '2']

In [ ]:
#13
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
toyota_df = toyota_df.replace(to_replace='??', value=None)
toyota_df['Doors'] = toyota_df['Doors'].replace({'two': 2, 'three': 3, 'four': 4, 'five': 5})
toyota_df['Doors'] = pd.to_numeric(toyota_df['Doors'])
toyota_df['MetColor'] = pd.to_numeric(toyota_df['MetColor'])
toyota_df['Automatic'] = pd.to_numeric(toyota_df['Automatic'])

toyota_df['Doors'] = pd.to_numeric(toyota_df['Doors']).astype('Int64')
toyota_df['MetColor'] = pd.to_numeric(toyota_df['MetColor']).astype('Int64')
toyota_df['Automatic'] = pd.to_numeric(toyota_df['Automatic']).astype('Int64')
print(toyota_df[['Doors', 'MetColor', 'Automatic']].dtypes)

Doors        Int64
MetColor     Int64
Automatic    Int64
dtype: object

In [ ]:
#14
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
null_values = toyota_df.isnull().sum()
print(null_values)

Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [ ]:
#15
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
toyota_df_cleaned = toyota_df.dropna()
print(toyota_df_cleaned)

      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90       1.0          0  2000
1              1  13750  23.0  72937   Diesel   90       1.0          0  2000
3              3  14950  26.0  48000   Diesel   90       0.0          0  2000
4              4  13750  30.0  38500   Diesel   90       0.0          0  2000
5              5  12950  32.0  61000   Diesel   90       0.0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1425        1425   7950  80.0     ??   Petrol   86       1.0          0  1300
1429        1429   8950  78.0  24000   Petrol   86       1.0          1  1300
1430        1430   8450  80.0  23000   Petrol   86       0.0          0  1300
1432        1432  10845  72.0     ??   Petrol   86       0.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
3         3    1165
4         3    1170
5         3    1170
...     ...     ...
1425      4    1000
1429      5    1065
1430      3    1015
1432      3    1015
1435      5    1114

[1111 rows x 11 columns]

In [ ]:
#16
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
car_fuel_counts = toyota_df[toyota_df['FuelType'].isin(['Petrol', 'Diesel', 'CNG'])]['FuelType'].value_counts()
print(car_fuel_counts)

FuelType
Petrol    1177
Diesel     144
CNG         15
Name: count, dtype: int64

In [ ]:
#17
import pandas as pd

toyota_df = pd.read_csv('Toyota.csv')
toyota_df = toyota_df.replace(to_replace='??', value=None)
toyota_df['KM'] = pd.to_numeric(toyota_df['KM'])
mean_km_diesel = toyota_df[toyota_df['FuelType'] == 'Diesel']['KM'].mean()
print(f'Mean KM for Diesel cars: {mean_km_diesel}')
print (toyota_df)
print(toyota_df.head(7))

Mean KM for Diesel cars: 114927.87857142858
      Unnamed: 0  Price   Age       KM FuelType   HP  MetColor  Automatic  \
0              0  13500  23.0  46986.0   Diesel   90       1.0          0
1              1  13750  23.0  72937.0   Diesel   90       1.0          0
2              2  13950  24.0  41711.0   Diesel   90       NaN          0
3              3  14950  26.0  48000.0   Diesel   90       0.0          0
4              4  13750  30.0  38500.0   Diesel   90       0.0          0
...          ...    ...   ...      ...      ...  ...       ...        ...
1431        1431   7500   NaN  20544.0   Petrol   86       1.0          0
1432        1432  10845  72.0      NaN   Petrol   86       0.0          0
1433        1433   8500   NaN  17016.0   Petrol   86       0.0          0
1434        1434   7250  70.0      NaN      NaN   86       1.0          0
1435        1435   6950  76.0      1.0   Petrol  110       0.0          0

        CC  Doors  Weight
0     2000  three    1165
1     2000      3    1165
2     2000      3    1165
3     2000      3    1165
4     2000      3    1170
...    ...    ...     ...
1431  1300      3    1025
1432  1300      3    1015
1433  1300      3    1015
1434  1300      3    1015
1435  1600      5    1114

[1436 rows x 11 columns]
   Unnamed: 0  Price   Age       KM FuelType    HP  MetColor  Automatic    CC  \
0           0  13500  23.0  46986.0   Diesel    90       1.0          0  2000
1           1  13750  23.0  72937.0   Diesel    90       1.0          0  2000
2           2  13950  24.0  41711.0   Diesel    90       NaN          0  2000
3           3  14950  26.0  48000.0   Diesel    90       0.0          0  2000
4           4  13750  30.0  38500.0   Diesel    90       0.0          0  2000
5           5  12950  32.0  61000.0   Diesel    90       0.0          0  2000
6           6  16900  27.0      NaN   Diesel  ????       NaN          0  2000

   Doors  Weight
0  three    1165
1      3    1165
2      3    1165
3      3    1165
4      3    1170
5      3    1170
6      3    1245